<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>accessID</key>
	<string>eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJYLUFwcC1SYXRlLUxpbWl0IjoiNTAwOjEwIiwiYWNjb3VudF9pZCI6IjE4MjkzNjM2OTIiLCJhdXRoX2lkIjoiMiIsImV4cCI6MTcwNTkzNTYwNSwiaWF0IjoxNjkwMzgzNjA1LCJuYmYiOjE2OTAzODM2MDUsInNlcnZpY2VfaWQiOiI0MzAwMTE0ODEiLCJ0b2tlbl90eXBlIjoiQWNjZXNzVG9rZW4ifQ.G7n6OUQiu6DVxPef5lnoMPGFZ6Yv8f88DuMlsOznQII</string>
</dict>
</plist>
